@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.expense-preview {
  max-width: 300px;
  padding: 15px;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
}
.expense-preview:hover {
  box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
}
.expense-preview h3 {
  font-size: 15px;
  color: #667fad;
  margin-bottom: 3px;
  float: left;
}
.minus {
  font-size: 15px;
  color: #f51403;
  float: right;
}
.plus {
  font-size: 15px;
  color: #158a0be3;
  float: right;
}
.expense-preview a {
  text-decoration: none;
}

/* expense details page */
.expense-details h2 {
  max-width: 300px;
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.expense-details div {
  margin: 20px 0;
}
.expense-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.links button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.expenses-list-header {
  max-width: 300px;
  margin-bottom: 30px;
  border: 1px solid
}

.expenses-list-header h2 {
  font-size: 20px;
  color: #f1356d;
  float: left
}
/* Link Button */
.expenses-list-header div  { 
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
  text-decoration: none;
  float: right
}

/* create new expense form */
.create-expense {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-expense label {
  text-align: left;
  display: block;
}
.create-expense h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create-expense input, .create-expense textarea, .create-expense select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-expense button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* Not found */
.not-found {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.not-found h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

/*account summary */
.account-summary {
  max-width: 250px;
  padding: 15px;
 
  margin-bottom: 300px;
  margin-left: 50px;
  border: 1px solid #f1356d;
  float: right
}
.account-summary h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.account-summary p {
  font-size: 15px;
  color: #f1356d;
  margin-bottom: 10px;
  float: left
}
.summary-minus {
  font-size: 15px;
  color: #f51403;
  float: right;
  margin-bottom: 10px;
}
.summary-plus {
  font-size: 15px;
  color: #158a0be3;
  float: right;
  margin-bottom: 10px;
}

/* profile */
.profile {
  text-align: center;
  max-width: 300px;
}
.profile img {
  position: absolute;
}
.profile h2 {
  position: relative;
  left: 70%;
  padding-top: 20px;
  margin-left: 10px;
  font-size: 15px;
}
.profile p {
  position: relative;
  left: 60%;
  font-size: 14px;
  margin-left: 10px;
}